<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
	{% comment %} <script src="index.js"></script> {% endcomment %}
    
    <div class="form">
        <form action="" method="POST">
            <h1>Register</h1><br>
            {% csrf_token %}
            <label for="fname">First Name: </label>
            <input type="text" placeholder="Enter your firstname" name="fname">

            <label for="fname">Last Name: </label>
            <input type="text" placeholder="Enter your lastname" name="lname"><br>

            <label for="fname">Username: </label>
            <input type="text" placeholder="Create a Username" name="uname"><br>

            <label for="fname">Email: </label>
            <input type="email" placeholder="Enter your Email address" name="email"><br>

            <label for="fname">Password: </label>
            <input type="password" placeholder="Create a Password" name="pass"><br>

            <button type="submit">Submit</button>

            <p><a href="{% url 'login-page' %}">Already have an account?</a></p>
        </form>
    </div>
  </body>
</html>